<div class="row mt-3">
    <div class="col">
        <div class="card border-0 shadow-sm bg-white">
            <div class="card-body p-4">
                <div class="row" data-masonry='{"percentPosition": true }'>
                    {% if site.data.profile.awards %}
                    <div class="col-md-6">
                        <div class="mx-2 my-1"> <h6>Project Highlights-----<i class="fas fa-cogs"></i></h6> 
                            <ol>
                                <li>3D Viral-Human Protein Interactome Pipeline
                                    <ul style="text-align: justify">
                                        <li>Built an full pipeline from data curation and AlphaFold structure prediction to interface analysis.</li>
                                        <li>Deployed a public web platform with Docker for interactive analysis and visualization.</li>
                                    </ul>
                                </li>
                                <li>Opioid Relapse Forecasting System
                                    <ul style="text-align: justify">
                                        <li>Developed a multivariate LSTM pipeline with weekly categorical time-series data.</li>
                                        <li>Built a simulation framework for treatment interventions; enabled real-time risk scoring and clinical integration.</li>
                                    </ul>
                                </li>
                                <li>Drug-Target Interaction Prediction Pipeline
                                    <ul style="text-align: justify">
                                        <li>Designed an end-to-end deep learning pipeline combining protein language models and graph neural networks.</li>
                                        <li>Multimodal DL (protein sequence + drug graph + networks) at <b>28M</b> pairs -> <b>45K</b> candidates.</li>
                                    </ul>
                                </li>
                            </ol>
                        </div>
                    </div>
                    {% endif %}


                    {% if site.data.profile.experience %}
                    <div class="col-md-6">
                        <div class="mx-2 my-1">
                            <h6>Experience-----<i class="fas fa-briefcase"></i></h6>
                            <ul class="list-unstyled mb-1">
                                {% for item in site.data.profile.experience %}
                                <li class="media mb-1">
                                    <img src="{{ item.logo | relative_url }}" alt="{{ item.name }}" style="width: 18px;" class="mr-1 mt-1">
                                    <div class="media-body">
                                        <div>{{ item.name }}</div>
                                        <div class="small d-flex" style="text-align: justify">
                                            <div>{{ item.position }}</div>
                                        </div>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endif %}
                    <br>
                    <br>
                    {% if site.data.profile.education %}
                    <div class="col-md-6">
                        <div class="mx-2 my-1">
                            <h6>Education------<i class="fas fa-graduation-cap"></i></h6>
                            <ul class="list-unstyled mb-1">
                                {% for item in site.data.profile.education %}
                                <li class="media mb-1">
                                    <img src="{{ item.logo | relative_url }}" alt="{{ item.name }}" style="width: 18px;" class="mr-1 mt-1">
                                    <div class="media-body">
                                        <div>{{ item.name }}</div>
                                        <div class="small">{{ item.dept }}</div>
                                        <div class="small d-flex">
                                            <div>{{ item.position }}</div>
                                            <div class="mt-auto ml-auto no-break"><em>{{ item.date }}</em></div>
                                        </div>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endif %}


                </div>

            </div>
        </div>
    </div>
</div>
