<div class="row align-items-stretch mt-3">
    <!-- Profiling Card Section -->
    <div class="col-md-4 d-flex align-items-stretch">
        <div class="card border-0 shadow-sm bg-white w-100 h-100" style="min-height: 100%;">
            <div class="card-body text-center">
                {% if site.data.profile.portrait_url %}
                <div class="figure mb-4">
                    <img
                        src="{{ site.data.profile.portrait_url | relative_url }}"
                        class="figure-img img-fluid img-thumbnail"
                        style="height: 200px;"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="{{ site.data.profile.portrait_caption }}">
                </div>
                {% endif %}

                <div class="h2 font-weight-normal">
                    {{ site.data.profile.primary_name }}
                    <small class="d-block text-muted">{{ site.data.profile.secondary_name }}</small>
                </div>
                
                {% if site.data.profile.cv_link %}
                    <a href="javascript:void(0)" onclick="event.preventDefault(); $('#resumeModal').modal('show');">
                        <i class="fas fa-file-alt"></i> Resume
                    </a><br />

                {% endif %}

                
                <!-- Contact Links Section -->
                <div class="mt-3">

                    <a class="pr-3 no-break" href="mailto:{{ site.data.profile.email | encode_email }}">
                        <i class="fas fa-at"></i> Email
                    </a>

                    <a class="pr-0 no-break" target="_blank" href="https://www.google.com/maps/place/42.447190,-76.477487">
                        <i class="fas fa-map-marker-alt"></i> Ithaca, NY, US
                    </a>
                </div>

                <div class="mt-3">
                    {% if site.data.profile.github %}
                    <a class="pr-1 no-break" target="_blank" href="https://github.com/{{ site.data.profile.github }}">
                        <i class="fab fa-github"></i> GitHub
                    </a>
                    {% endif %}
                    
                    {% if site.data.profile.linkedin %}
                    <a class="pr-1 no-break" target="_blank" href="https://www.linkedin.com/in/{{ site.data.profile.linkedin }}">
                        <i class="fab fa-linkedin"></i> LinkedIn
                    </a>
                    {% endif %}

                    {% if site.data.profile.gscholar %}
                    <a class="pr-0 no-break" target="_blank" href="https://scholar.google.com/citations?user={{ site.data.profile.linkedin }}">
                        <i class="ai ai-google-scholar"></i> Google Scholar
                    </a>
                    {% endif %}
                    
                    <!-- Add other social icons similarly -->
                </div>
            </div>
        </div>
    </div>
    <!-- Summary Section -->
    <div class="col-md-4 d-flex align-items-stretch">
        <div class="card border-0 shadow-sm bg-white w-100 h-100" style="min-height: 100%;">
            <div class="card-body p-4">
                <h2 class="font-weight-light mb-4">About Me</h2>
                <p>{{ site.data.profile.short_bio }}</p>
            </div>
        </div>
    </div>

    <!-- Career Goals Section -->
    <div class="col-md-4 d-flex align-items-stretch">
        <div class="card border-0 shadow-sm bg-white w-100 h-100" style="min-height: 100%;">
            <div class="card-body p-4">
                <h3 class="font-weight-light mb-4">Career Goals</h3>
                <p>Passionate about leveraging quantitative skills in finance, I am actively expanding my expertise through self-directed study of advanced financial modeling and quantitative finance courses, including:</p>
                <ul>
                    <li><i><a href="https://www.coursera.org/learn/financial-markets-global">Financial Markets</a></i> on <b>Coursera</b></li>
                    <li><i><a href="https://www.coursera.org/learn/wharton-finance">Introduction to Corporate Finance</a></i> on <b>Coursera</b></li>
                    <li><i><a href="https://www.coursera.org/specializations/financialengineering">Financial Engineering and Risk Management Specialization</a></i> on <b>Coursera</b></li>
                    <li><i><a href="https://www.udemy.com/course/financial-derivatives">Financial Derivatives: A Quantitative Finance View</a></i> on <b>Udemy</b></li>
                </ul>
            </div>
        </div>
    </div>

</div>


<!-- Modal for Resume -->
<div class="modal fade" id="resumeModal" tabindex="-1" role="dialog" aria-labelledby="resumeModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Resume</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <object data="{{ site.data.profile.cv_link | relative_url }}" type="application/pdf" width="100%" height="500px">
                    <p>Your browser does not support PDFs.
                        <a href="{{ site.data.profile.cv_link | relative_url }}">Download the PDF</a>.
                    </p>
                </object>
            </div>
        </div>
    </div>
</div>
