{% assign sanitized_id = include.item.id | replace: '/', '_' | replace: ' ', '_' | replace: '.', '_' %}

<!-- Desktop and Tablet View (d-none d-md-block) -->
<div class="d-none d-md-block">
    <div class="row no-gutters {% unless include.hide_bottom_border %}border-bottom{% endunless %} border-gray">
        <!-- Image Section -->
        <div class="col-md-3 col-xl-2 mb-md-0 p-md-3">
            {%- if include.item.cover -%}
            <!-- Make the image clickable to open the modal -->
            <a href="#" onclick="$('#coverModal-{{ sanitized_id }}').modal('show'); return false;">
                <img src="{{ include.item.cover | relative_url }}" alt="{{ include.item.title }}" class="w-100 rounded-sm">
            </a>
            {%- else -%}
            <div class="d-flex align-items-center justify-content-center" style="height: 150px;">
                {% case include.item.category %}
                    {% when "Deep Learning" %}
                        <i class="fas fa-brain" style="font-size: 50px; color: #007bff;"></i>
                    {% when "Statistical Modeling" %}
                        <i class="fas fa-chart-area" style="font-size: 50px; color: #28a745;"></i>
                    {% when "Time-Series Analysis" %}
                        <i class="fas fa-chart-line" style="font-size: 50px; color: #ffc107;"></i>
                    {% when "Machine Learning Algorithm" %}
                        <i class="fas fa-robot" style="font-size: 50px; color: #dc3545;"></i>
                    {% else %}
                        <i class="fas fa-cogs" style="font-size: 50px; color: #6c757d;"></i>
                {% endcase %}
            </div>
<!--            <svg class="bubble-visual-hash w-100 rounded-sm" data-bubble-visual-hash="{{ sanitized_id }}" viewBox="0 0 300 200"></svg> -->
            {%- endif -%}
        </div>

        <!-- Content Section -->
        <div class="col-md-9 col-xl-10 p-3 pl-md-0">
            <h5 class="mt-0 mb-1 font-weight-normal">{{ include.item.title }}</h5>
            <p class="mt-0 mb-0 small">{% if include.item.selected %}<b>Skills: </b>{% endif %}{% include widgets/author_list.html authors=include.item.authors %}</p>
            <p class="mt-0 mb-0 small">{{ include.item.pub_date }} {{ include.item.pub_pre }}<i>{{ include.item.pub }}</i>{{ include.item.pub_post }} {{ include.item.pub_last }}</p>
            <p class="mt-0 mb-0 small text-muted">{{ include.item.abstract }}</p>

            <p class="small pb-0 mb-0 lh-125 text-muted abstract-links">
                {% for link in include.item.links %}
                {% if link[1].url %}
                <a target="{{ link[1]['target'] }}" href="{{ link[1]['url'] }}">[{{ link[0] }}]</a>
                {% else %}
                <a target="_blank" href="{{ link[1] }}">[{{ link[0] }}]</a>
                {% endif %}
                {% endfor %}
            </p>
        </div>
    </div>
</div>

<!-- Mobile View (d-md-none) -->
<div class="row no-gutters d-md-none {% unless include.hide_bottom_border %}border-bottom{% endunless %} border-gray {% if include.first %}rounded-top{% endif %} {% if include.last %}rounded-bottom{% endif %} {% if include.item.cover %}lazy{% endif %}" data-src="{{ include.item.cover | relative_url }}" style="background-color: rgba(255,255,255,0.9); background-blend-mode: lighten;">
    <div class="d-flex align-items-start flex-column py-3 px-4">
        <div class="mb-auto"></div>
        <div>
            <h5 class="mt-0 mb-1 font-weight-normal">{{ include.item.title }}</h5>
            <p class="mt-0 mb-0 small">{% if include.item.selected %}<b>Skills: </b>{% endif %}{% include widgets/author_list.html authors=include.item.authors %}</p>
            <p class="mt-0 mb-0 small">{{ include.item.pub_date }} {{ include.item.pub_pre }}<i>{{ include.item.pub }}</i>{{ include.item.pub_post }} {{ include.item.pub_last }}</p>
            <p class="mt-0 mb-0 small text-muted">{{ include.item.abstract }}</p>

            <p class="small pb-0 mb-0 lh-125 text-muted abstract-links">
                {% for link in include.item.links %}
                {% if link[1].url %}
                <a target="{{ link[1]['target'] }}" href="{{ link[1]['url'] }}">[{{ link[0] }}]</a>
                {% else %}
                <a target="_blank" href="{{ link[1] }}">[{{ link[0] }}]</a>
                {% endif %}
                {% endfor %}
            </p>
        </div>
    </div>
</div>

<!-- Modal for Full-Sized Image -->
<div class="modal fade" id="coverModal-{{ sanitized_id }}" tabindex="-1" role="dialog" aria-labelledby="coverModalLabel-{{ sanitized_id }}" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <!-- Full-size image in the modal -->
        <img src="{{ include.item.cover | relative_url }}" alt="{{ include.item.title }}" class="w-100">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
